/* Ideas extraídas de http://www.jankoatwarpspeed.com/post/2008/07/27/Enhance-your-input-fields-with-simple-CSS-tricks.aspx */

H1  {
    text-align: center;
}

table
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.inputArea
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    background-color: #d6e5f4;
    padding: 10px;
}

.inputArea input[type="text"], .inputArea textarea
{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de;
    text-align: right;
}
